/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "normalize";    
@import "compass";
@import "compass/layout/sticky-footer";
@import "grid";
@import "fontello";
@import "fontello-codes";
$columns: 12;
$column-width: 60;
$gutter-width: 20;

$total-width: 100%;

@include sticky-footer(54px, "#main", "#main-footer", "footer");

body{
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    color: #367fa8;
}

#content, #footerwrap{
    @include column(12);
    background-color: #fff;
}


img, iframe, video{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: #146490;
  &:visited{
    color: #367fa8;
  }
}
#logo, nav{
    @include column(6);
}
#logo{
  h1{
    margin-bottom: 0;
  }
  h2{
    margin: -0.5em 0 0 0;
    font-size: 100%;
    font-weight: normal;
  }

}
nav{
  padding-left: 0;
  margin-right: 0;
  float: right;
  
  li{
    display: inline-block;
    margin-left: 0.5em;
    text-transform: uppercase;

    a{
      display: block;
      width: 100%;
      padding: 1em 0.5em;
      text-shadow: 1px 1px 1px #bbb;
      transition: color 1s;
      -webkit-transition: color 1s;
      -moz-transition: color 1s;
      font-size: 1.4em;
      &:hover{
        color: #000;
      }
    }
  }
}

header{
      box-shadow: 1px 1px 4px #888888;
      height: 100px;
}

#content{
  box-shadow: 1px 1px 10px #888888;
  padding: 0.5em 0.8em;
  margin: 0 ;
  ul{
      @include column(12);
      margin-left: 0;
      text-align: left;
      padding-left: 0;
      margin-bottom: 2em;
  }
  h1{
    clear: both;
    padding-top: 0.2em;
  }
  h2{
    font-size: 1.4em;
  }
}
.logo{
    @include column(3);
    float: left;
}

li{
  list-style-type: none;
}
.bigtitle{
  margin-left: 0 !important;
}
.galerie{
  width: 100% !important;
  margin: 0 !important;
  padding: 0;
}
.recent-works{
  @include column(4);
  margin: 1em 0.85em 2em;
  h3{
    margin: 0.3em 0 0 0.3em;
  }
  img{

    padding: 0.3em;
  }
  p{
    margin: 0.2em 0 0 0.3em;
    font-size: 90%;
  }
  &:hover{
    opacity: 0.5;
  }
  &:firstchild{
    margin-left: 0;
  }
}

#me{
    font-size: 140%;
    line-height: 1.5;
    margin-bottom: 1.5em;
    @include column(8);
}
figure{
  
  float: left;
}
figure img{
  box-shadow: 2px 2px 6px #888888;
  padding: 0.3em;
}

figcaption{
  margin: 0.5em 0;
}

#contactform{
  @include column(8);
  float: left;
  margin-left: 0;
}

.social, .moreinfos{
  @include column(4);  
  float: right;
}

.moreinfos{
  h2{
    margin-bottom: 0;
  }
  li{
    margin: 0.5em 0 !important;
  }
  p{
    margin-top: 0;
  }
}
.social {
  li{
    margin-bottom: 0.5em;   
  }

  a{
    display:block;
    width:2.9em;
    height:2.8em;
    text-indent:50px;
    line-height: 2.8em;
    color:#367fa8;
    background-image:url('../img/sprite.png');
    background-position: 0 0;
    background-repeat: no-repeat;
  }

}


#twitterdev:hover{background-position:0 100%;}
#twitterdez:hover{background-position:0 100%;}
#gplus{background-position:57.2% 0;}
#gplus:hover{background-position:57.2% 100%;}
#lknd{background-position:71.5% 0;}
#lknd:hover{background-position:71.5% 100%;}

#main-footer{
  clear: both;
}
.preview{
  img{
    //box-shadow: 1px 1px 10px #888888;
    padding: 0.3em;
  }
}

form{
  fieldset{
    box-shadow: 3px 3px 8px #888888;
  }
  div{
    margin: 1em 0;
  }
  label{
    display: block;
    width: 22%;
    float: left;
    text-transform: uppercase;
  }
  input, textarea{
    width: 76%;
  }
}

#send{
  text-align: right;
  input{
        width:auto;
        padding: 0.5em;
        background-color: #367fa8;
        color: #fff;
        margin-right: 0.5em;
  }
}
  
a{
  &:visited{
    color: #367fa8;
  }
}

.visit{
  padding: 0.5em;
  background-color: #367fa8;
  color: #fff;
  &:visited{
    color: #fff;
  }
}

.title{
  font-size: 1em;
}
#showcase{
  @include column(12);
  h1{
    width: 38%;
    float: left;
    margin: 1em 0 1em 0.5em;
    text-transform: uppercase;
    color: #000;
  }
}

#branding{
  width: 60%;
  float: right;
  margin: 0.5em 0;
  text-align: right;
  color: #fff;
  li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    .fontel{
      display: block;
      width: 50px;
      height: 50px;
      float: left;
      background-image: url('../img/fontellobg.png');
      background-repeat: no-repeat;
      margin-top: 0.3em;
      color: #fff;
      font-size: 1.4em;
      line-height: 1.9em;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      &:hover{
        color: #367fa8;
        background: none;
      }
    }
    a{
      display: block;
      float: right;
      padding: 1em 1em 1em 0.1em;
      font-size: 1.2em;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      -moz-transition: color 0.5s;
      &:hover{
        color: #367fa8;
        background: none;
      }
    }
  }
}
#tools{
  width: 60%;
  float: right;
  margin: 0.5em 0;
  text-align: right;
  font-size: 2.5em;
  color: #367fa8;
}
.icon-text{
  float: right;
  line-height: 3.5em;
}
.active{
      background-color: red;
      color: #fff;
}
footer{
  box-shadow: 1px 1px 10px #888888;
  margin: 2em 0 0 0;
  padding: 0.5em 0.1em;
  p{
    text-align: right;
    padding: 1em;
    margin: 0;
  }
}

/*=========== EFECT MENU CSS3 ============================*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
